# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Logs
logs/
*.log

# Editor
.vscode/
.idea/

# Docker
*.tar

# OS
.DS_Store
Thumbs.db

# Config and Keys (local dev)
ssh_keys.enc
config.json
permissions_config.json

# Packaging
dist/
build/
*.egg-info/
